<div class="text-center">
    <!-- Banner -->
    <div class="bg-dark text-white d-flex flex-column justify-content-center align-items-center"
        style="background-size: 'cover';
          background-position: 'center';
          height: '60vh';
          width: '100%'"
    >

        <!-- Welcome Message -->
        <h1 class="display-4 fw-bold">Bienvenido a SaborExpress 🍽️</h1>
        <p class="lead">Comida deliciosa, rápida y al mejor precio.</p>
        <button (click)="navigateStore()" class="bg-warning btn-lg">
          Ver Menú
        </button>
    </div>

    <div class="py-5 px-3">
    <h2 class="mb-4">¿Por qué elegirnos?</h2>
    <div class="row">
        <div class="col-md-4 mb-4">
        <h5>🌮 Variedad de platillos</h5>
        <p>Desde tacos hasta ramen, nuestro menú lo tiene todo.</p>
        </div>
        <div class="col-md-4 mb-4">
        <h5>🚚 Entrega rápida</h5>
        <p>Recibe tu comida caliente en menos de 30 minutos.</p>
        </div>
        <div class="col-md-4 mb-4">
        <h5>⭐ Calidad garantizada</h5>
        <p>Ingredientes frescos y preparación con amor.</p>
        </div>
    </div>
    </div>
</div>