<h1 style="text-align: center;">Empleados de la Empresa</h1>

<p>Nombre del empleado: {{nombre}}</p>
<p>Apellidodel empleado: {{apellido}}</p>
<p>Edad del empleado: {{edad}}</p>

<p>Empresa del empleado: {{empresa}}</p>

<p>Ingrese la Empresa: <input type="text" [disabled]="dontWrite" [(ngModel)]="empresa"/></p>

@if(!dontWrite){
    <button value="complete" (click)="formComplete($event)">Completo</button>
}
@else{
    <button value="delete" (click)="formDelete($event)">Eliminar</button>
}
<br/>
<br/>

{{message}}

<ul>
    <li  *ngFor="let entrada of entradas">{{entrada.titulo}}</li>
</ul>

@for(entrada of entradas; track entrada.titulo){
    <app-empleado [empleado]="entrada"/>
}