.python{
    background-color: cyan;
    color: black;
    width: fit-content;
    border-radius: 30%;
    border: 2px solid;
    border-color: greenyellow;
    text-align: center;
}

.Java{
    background-color: black;
    color: white;
    width: fit-content;
    border-radius: 30%;
    border: 2px solid;
    border-color: blue;
    text-align: center;
}